/*=======================================================
ブーケ案内
=======================================================*/
.p-bouquet {
	background-color: #f5f5f5;
	padding: 80px 0;
	color: rgba(63,67,74,0.9);
	width: 100vw;
	line-height: 1.65rem;
	font-weight: 700;
	text-align: center;
	
	.c-orange-balloon {
		background-color: #ee7543;
		display: inline-block;
		position: relative;
		width: 130px;
		padding: 10px 5px;
		border-radius: 10px;
		color: white;
		font-size: 13px;
		font-weight: normal;
	}

	.c-orange-balloon::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 100%;
		left: 50%;
		width: 0;  //横幅なくす
		height: 0;  //縦幅なくす
		border-top: 8px solid #ee7543;
		border-right: 5px solid transparent;  //top以外は透明
		border-bottom: 5px solid transparent;  //top以外は透明
		border-left: 5px solid transparent;  //top以外は透明
	}
	
	h3 {
		font-weight: normal;
		font-size: 20px;
		margin-bottom: 10px;
		line-height: 2rem;
	}

	img {
		width: 200px;
		height: 200px;
		display: block;
		margin: 0 auto;
	}

	p:nth-of-type(2) { //「お花とグリーン～～」
		font-size: 15px;
		padding-top: 20px;
	}
	p:nth-of-type(3){ //「800円」
		font-size: 20px;
		font-weight: bold;
		padding-bottom: 40px;
		span {
			font-size: 15px;
		}
	}
	p:nth-of-type(n+4){ //「*送料～、*価格は～」
		font-size: 13px;
		font-weight: normal;
		line-height: 1.2rem;
	}
}

/*
メディアクエリ
---------------------------------------------------------------------*/
@include mq(md) {
	.bou-cal-wrap {
		display: flex;
		height: 580px;

		.p-bouquet {
			width: 50%;
			height: 100%;
			padding: 0;//リセット
			padding: 50px;
		}
	}
}