.p-concept-wrap {
	width: 100vw;
	@include mq(md) {
		height: 100%;//※元730px指定だと続くbou-cal-wrapとの間に重なりが出る
		display: flex;
	}
	.p-concept {
		width: 100vw;
		height: 60vh;
		padding: 55px 45px;
		background-size: cover;
		background-position: 0 95%;
		color: white;
		@include mq(md) {
			height: 80vh;
			letter-spacing: 1px;
			background-position: center;
		}

		h2 {
			line-height: 2.3rem;
			font-weight: 500;
			font-size: 22px;
			@include mq(md) {
				font-size: 24px;
			}
		}
		p{
			padding-top: 10px;
			line-height: 1.6rem;
			font-weight: normal;
			font-size: 15px;
		}
	}
}

.purple {
	background-image: url(../images/bg_service01.jpg);
}
.blue {
	background-image: url(../images/bg_service02.jpg);
}
.yellow{
	background-image: url(../images/bg_service03.jpg);
}