.l-card__bottle {
	width: 100vw;
	background-color: #E7E3DF;
	color: rgba(63,67,74,0.9);
	text-align: center;
	padding: 12vw 8vw;

	.bottle-container {
		.bottle-intro {
			width: 90%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;

			h3 {
			padding-bottom: 20px;
			line-height: 2.3rem;
			font-size: 22px;
			font-weight: normal;
		}

		.balloon-white {
			width: 100%;
			max-width: 130px;
			display: block;
			padding: 5px;
			margin: auto;
			font-weight: 700;
			font-size: 14px;
			background-color: white;
		}

		>img {
			max-width: 380px;
			width: 100%;
			margin: auto;
		}
		
		:nth-child(4) { //「お花を飾るのに欠かせない～～」
			padding: 30px 0;
			text-align: left;
			font-size: 15px;
			letter-spacing: 2px;
		}
	}

	> :nth-child(4) { //「アプリ内でご購入～～」
		position: relative;
		// left: -63px;
		padding: 15px 10px;
		font-size: 13px;
	}

	.p-bottle-wrap {
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 90%;
		max-width: 660px;
		margin: auto;

		.bottle-item {
			position: relative;
			img {
				width: 94%;
				display: block;
				margin-right: 3%;
				&:nth-child(3) {
					margin-right: 0;
				}
			}
		>p {
			display: inline-block;
			position: relative;
			top: -35px;
			font-size: 14px;
		}
	}
}

.bottle-text {
		display: flex;
		justify-content: center;
		position: relative;
		width: 90%;
		margin: auto;
		// left: -23px;
		>p {
			padding: 5px;
			border: 2px solid rgb(63,67,74);
			font-weight: 700;
			font-size: 14px;
		}

		.bottle-text__value {
			padding-left: 20px;
			text-align: left;
			font-size: 18px;

			p:nth-of-type(2) {
				font-size: 13px;
			}
		}
	}
}
}

 @media screen and (max-width: 767px) {
		.flower-img {
		display: none;
	}
}

@include mq(md) {
	.l-card__bottle {
		display: flex;
		justify-content: center;
		// padding-left: 5%;
		padding: 5vw 8vw;

		.bottle-container {
			width: 50%;
			margin: auto;

			.bottle-intro {
				width: 90%;
				>h3 {
					font-size: 26px;
				}
				>img {
					display: none;
				}
				:nth-child(4) {
					margin: 1.75em auto;
					padding: 0;
					padding-bottom: 15px;
				}
			}
			
			.p-bottle-wrap {
				width: 90%;
				max-width: inherit;
				z-index: 10;
			}
			.bottle-text {
				width: 90%;
				margin: auto;
				justify-content: flex-start;
			}
			>:nth-child(4) {
				text-align: left;
				width: 90%;
				margin: auto;
				padding: 15px 10px 15px 0;
			}
		}

		.flower-img {
			width: 50%;
			margin-right: 0;
			margin-left: auto;
			>img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

@include mq(xl) {
	.flower-img {
		margin-right: 0;
		margin-left: auto;
	}
}
