.l-card__bottle {
	width: 100vw;
	background-color: #E7E3DF;
	color: rgba(63,67,74,0.9);
	text-align: center;

	.bottle-container {
		.bottle-intro {
			width: 400px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;

			h3 {
			padding-bottom: 20px;
			line-height: 2.3rem;
			font-size: 22px;
			font-weight: normal;
		}

		.balloon-white {
			width: 130px;
			display: block;
			padding: 5px;
			margin: auto;
			font-weight: 700;
			font-size: 14px;
			background-color: white;
		}

		>img {
			width: 380px;
		}
		
		:nth-child(4) { //「お花を飾るのに欠かせない～～」
			padding: 20px 30px;
			text-align: left;
			font-size: 15px;
			letter-spacing: 2px;
		}
	}

	> :nth-child(4) { //「アプリ内でご購入～～」
		position: relative;
		left: -63px;
		padding: 15px 10px;
		font-size: 13px;
	}

	.p-bottle-wrap {
		display: flex;
		justify-content: center;
		text-align: center;

		.bottle-item {
			position: relative;
			img {
				width: 100px;
				display: block;
				margin: 7px;
			}
		>p {
			display: inline-block;
			position: relative;
			top: -35px;
			font-size: 14px;
		}
	}
}

.bottle-text {
		display: flex;
		justify-content: center;
		position: relative;
		left: -23px;
		>p {
			padding: 5px;
			border: 2px solid rgb(63,67,74);
			font-weight: 700;
			font-size: 14px;
		}

		.bottle-text__value {
			padding-left: 20px;
			text-align: left;
			font-size: 18px;

			p:nth-of-type(2) {
				font-size: 13px;
			}
		}
	}
}
}

@include mq(md) {
	.l-card__bottle {
		display: flex;
		justify-content: center;
		padding-left: 5%;

		.bottle-container {
			width: 400px;
			margin: 100px 0 100px auto;

			.bottle-intro {
				>h3 {
					font-size: 26px;
				}
				>img {
					display: none;
				}
				:nth-child(4) {
					margin-top: 90px;
					padding: 0;
					padding-bottom: 15px;
				}
			}
			
			.p-bottle-wrap {
				z-index: 10;
				.bottle-item {
					img {
						margin-right: 25px;
						margin-left: 25px;
					}
				}
			}
			.bottle-text {
				left: -60px; //左端揃え
			}
			>:nth-child(4) {
				left: -105px; //左端揃え
			}
		}

		.flower-img {
			width: 55%;
			margin-right: 0;
			margin-left: auto;
			background-image: url(../../images/bg_vase.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top 70% right 40%;
		}	
	}
}

@include mq(xl) {
	.flower-img {
		margin-right: 0;
		margin-left: auto;
	}
}
