.l-calender {
	height: 450px;
	text-align: center;

	p {
		padding: 100px 0 20px 0;
		line-height: 2.0rem;
		font-size: 20px;
		font-weight: 500;
		color: rgba(63,67,74,0.9);
	}

	img {
		width: 170px;
	}
}

.l-calender {
	@include mq(md) {
		width: 50%;
		height: 100%;
		padding: 60px 0;
	}
}