footer {
	width: 100vw;
	height: 530px;
	padding: 40px 40px 0px 40px;
	background-color: #3f434a;
	color: white;

	img {
		width: 60px;
		float: right;
	}

	ul {
		list-style: none;

		li {
			padding: 10px;
			font-size: 14px;
			>a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	p {
		padding-top: 120px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
		color: #7e8186;
	}
}

@include mq(md) {
	footer {
		padding: 80px 80px 100px 50px;
		img {
			display: block;
			position: relative;
			top: -50px;
			left: 50px;
		}
		.footer-nav {
			ul {
				display: flex;
				justify-content: space-around;
				white-space: nowrap; //文字列を折り返さない

				li {
					padding: 0;

					a {
						text-decoration: none; //下線無効
						color: inherit; //色無効
					}
				}
			}
		}

		p {
			padding-top: 300px;
		}
	}
}